@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #d144c9;
  --primary-color-light: #ffe4fd;
  --primary-color-dark: #a12b9a;
  /* --secondary-color: #FFA500; */
}
