@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #d144c9;
  --primary-color-light: #ffe4fd;
  --primary-color-dark: #a12b9a;
  /* --secondary-color: #FFA500; */
}

/* MUI DateField input customization */

DateField > input, .css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: #ffff !important;
  border: 1px solid #d1d5db !important;
  /* border: 1px solid var(--primary-color) !important; */
  border-radius: 0.25rem !important;
  color: #6b7280 !important;
  /* color: var(--primary-color-dark) !important; */
  padding: 0.5rem !important;
}

DateField > input:focus, .css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input:focus {
  border: 1px solid #d144c9 !important;
  /* border: 1px solid var(--primary-color-dark) !important; */
  box-shadow: 0 0 0 0.125rem rgba(209, 68, 201, 0.25) !important;
  /* box-shadow: 0 0 0 0.125rem rgba(var(--primary-color-dark), 0.25) !important; */
}

DateField > input:disabled, .css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input:disabled {
  background-color: #f3f4f6 !important;
  border: 1px solid #d1d5db !important;
  color: #6b7280 !important;
} 

.css-jupps9-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 0 !important;
  border-radius: 0 !important;

}

/* -------------------------------- */